In [143]:
import requests as req
from bs4 import BeautifulSoup as bs
url = 'https://www.kamis.or.kr/customer/main/main.do'
res = req.get(url)
soup = bs(res.text, 'lxml')
gamja =soup.select('#tab_tbl01 > table > tbody > tr:nth-child(11) > td:nth-child(5)')
gamja2 = gamja[0].text
gamja_text = gamja2.strip().replace(',', '')
gamja_price = int(gamja_text)

In [144]:
gamja_price

39700

In [151]:
from datetime import datetime, timedelta

# 전날 날짜 계산
yesterday = datetime.now() - timedelta(days=1)
yesterday_formatted = yesterday.strftime('%Y-%m-%d')

# 전날 날짜에서 년, 월, 일 분리
year = yesterday.year
month = yesterday.month
day = yesterday.day

print('전날 날짜:', yesterday_formatted)
print('년:', year)
print('월:', month)
print('일:', day)

전날 날짜: 2023-08-06
년: 2023
월: 8
일: 6

In [111]:
import pandas as pd

In [112]:
pd.read_csv('../감자.csv')

              날짜  최고기온  최저기온   월   일    연도      가격
0     2011-01-03   6.2 -16.9   1   3  2011  1520.0
1     2011-01-04   3.2 -14.4   1   4  2011  1520.0
2     2011-01-05   2.9 -12.5   1   5  2011  1620.0
3     2011-01-06  -0.3 -18.1   1   6  2011  1690.0
4     2011-01-07   0.0 -20.7   1   7  2011  1710.0
...          ...   ...   ...  ..  ..   ...     ...
2950  2022-12-26  -0.5 -16.9  12  26  2022  2236.0
2951  2022-12-27   1.0 -16.8  12  27  2022  2212.0
2952  2022-12-28   0.4 -14.0  12  28  2022  2153.0
2953  2022-12-29   0.0 -16.2  12  29  2022  2163.0
2954  2022-12-30   2.3 -11.7  12  30  2022  2163.0

[2955 rows x 7 columns]

datetime.datetime(2023, 8, 7, 16, 50, 51, 652356)

전날 날짜: 2023-08-06

In [126]:
import cx_Oracle

In [128]:
cx_Oracle.init_oracle_client('instantclient_11_2')

In [141]:

# 1. Connection 생성
conn = cx_Oracle.connect('Insa4_APP_hacksim_3', 'aishcool3', 'project-db-stu3.smhrd.com:1524/xe')

# 2. Cursor 생성
curs = conn.cursor()

# 3. SQL 전송
yesterday_formatted = "2023-08-07"
sql = "insert into member_cm (name, age, tel) values (:1, :2, :3)"
values = (yesterday_formatted, '20', 'test')

curs.execute(sql, values)

conn.commit()

curs.close()
conn.close()